{% extends 'patient_nav.html' %}
{% load static%}
{% block body%}

{% if error == 'no' %}
    <script>
        alert('password changed successfully');
        window.location = '{% url "profile" %}';
    </script>
{% endif %}

{% if error == 'yes' %}
    <script>
        alert('error occured!!!');
    </script>
{% endif %}

<div class="container "style="margin-top:90px;">
    <div class="row">
        <div class="col-sm-6"style="margin-top:10px;">
            <img src="#" alt="" style="height:auto ;width:100%;border-radius:50px">
        </div>
        <div class="col-sm-6"style="margin-top:10px;">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token%}
                <label for="">Old Password</label>
                <input type="password" class="form-control" placeholder="old password?" name="old">
                <label for="">New Password</label>
                <input type="Password" class="form-control" placeholder="new password?" name="new">
                <label for="">Confirm Password</label>
                <input type="Password" class="form-control" placeholder="confirm password?" name="confirm"> <br>
                <input type="submit" class="btn btn-danger mt-2" value="CHANGE PASSWORD">
            </form>
        </div>
    </div>
</div>


{%endblock%}