{% extends 'navigation.html'%}
{% block body%}
{% load static %}
<div class="work" style="margin-top: 100px;">
    <div class="box-container" style="font-size:15px;text-align:left" >
        <div class="boxtilt">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.3796416588957!2d83.65820027423584!3d18.46645508261665
            5!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c772724754cc9%3A0xcf876cd74c2b6b01!2sGMR%20Institute%20of%20Technology
            !5e0!3m2!1sen!2sin!4v1706021037177!5m2!1sen!2sin" width="320" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="boxtilt">
            <p style="color: black;text-align:left"><i class="fas fa-envelope"></i> Email Id : <a href="mailto:ramprasadchippada@gmail.com">ramprasadchippada@gmail.com</a></p>
            <p style="color: black;text-align:left"><i class="fas fa-phone"></i> Contact: <a href="tel:+7569343039">+91 7569343039</a></p>
            <p style="color: black;text-align:left"><i class="fas fa-address-card"></i> Address :Rajam ,Vizianagaram ,Andhra Pradesh ,India ,532127</p>
        </div>
    </div>
</div>
{%endblock%}