{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<style>
    .image {
        background-size: cover;
        background-position: center;
        background-image: url("{% static 'images/main1.jpg' %}");
    }

    @media (max-width: 768px) {
        .image {
            height:auto;
            width: 100%;
            background-repeat: no-repeat;
        }
    }
</style>
<section class="home" id="home">
    <!-- <div id="particles-js"></div> -->
    <div class="content">
        <h2>Join Us Forever To Get <br>Help From Anywhere</h2>
        <p style="font-size:medium;">Telemedicine bridges distances, connecting patients in remote areas with healthcare, appointment scheduling , Video Conference</p>
        <a href="{% url 'signup' %}" class="btn"><span>Register Now</span>
        </a>
    </div>
    <div class="image">
        <img  class="tilt" src="{% static 'images/abc.jpeg' %}" alt="">
    </div>
</section>
<style>
    body{
        background-color: white;
    }
</style>

{%endblock%}