{% extends 'navigation.html'%}
{% block body%}
{% load static %}

{% if error == 'no' %}
    <script>
        alert('signup successfully');
        window.location = '{% url "userlogin" %}';
    </script>
{% endif %}

{% if error == 'yes' %}
    <script>
        alert('something went wrong');
    </script>
{% endif %}

<div class="container"style="margin-top: 90px;">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 10px;">
            <h2 class="text-center">USER SIGNUP</h2>
            <hr>
            <p>Fill all the feilds and click Register button</p>
            <form action="" method="post">
                {% csrf_token%}
                <label for="">First Name</label>
                <input type="text" class="form-control" placeholder="Enter FirstName" name="fname" required>
                <label for="">Last Name</label>
                <input type="text" class="form-control" placeholder="Enter LastName" name="lname" required>
                <label for="">Contact No</label>
                <input type="number" class="form-control" placeholder="Enter Contact no" name="contact" required>
                <label for="">Email ID</label>
                <input type="email" class="form-control" placeholder="abc5@gmail.com" name="emailid" required>
                <label for="">Age</label>
                <input type="number" class="form-control" placeholder="Enter Age?" name="age" required>
                <label for="">Occupation</label>
                <input type="text" class="form-control" placeholder="Enter Occupation?" name="occupation" required>
                <label for="">Password</label>
                <input type="Password" class="form-control" placeholder="password?" name="pwd" required>
                <input type="submit" class="btn btn-danger mt-2" value="REGISTER">
            </form>
        </div>
        <div class="col-sm-6" style="margin-top: 10px;">
            <img src="{% static 'images/sign.avif'%}" alt="" style="margin-top: 20px;">
        </div>
    </div>
</div>

{%endblock%}