<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/upload.jpg' %}">
    <title>NOTES SHARING SITE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <header>
		<a href="/" class="logo"><i class="	fa fa-stethoscope" style="color: white;"></i> MEDCONNECT</a>
		<div id="menu" class="fas fa-bars"></div>
		<nav class="navbar">
			<ul>
				<li><a class="active" href="{% url 'doctorhome' %}">RecentArticles</a></li>
                <li class="navbar-item dropdown" style="color: black;" >
                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown" >Appointments</a>
                    <div class="dropdown-menu" >
                        <a href="https://us05web.zoom.us/j/4864184507?pwd=jFJD0c4aTzGQnqf6ZzCL6lJs2Sn2gz.1" class=" dropdown-item"style="color: black;">JoinMeeting</a>
                        <a href="{% url 'appoint' %}" class=" dropdown-item"style="color: black;">ViewAppointments</a>
                    </div>
                </li>
				<li class="navbar-item dropdown" style="color: black;" >
                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown" ><i class="fas fa-user-circle" ></i> {{request.user.first_name}}</a>
                    <div class="dropdown-menu" >
                        <a href="{% url 'doctorprofile' %}" class=" dropdown-item"style="color: black;">Profile</a>
                        <a href="{% url 'doctoredit' %}" class=" dropdown-item"style="color: black;">Edit Profile</a>
                        <a href="{% url 'cpass' %}" class=" dropdown-item"style="color: black;">Change Password</a>
                        <a href="{% url 'Logout' %}" class=" dropdown-item"style="color:red;">Logout</a>
                    </div>
                </li>
			</ul>
		</nav>
	</header>
</body>
</html>
{% block body %}
{% endblock %}
